a {
    text-decoration: none !important;
}

pre>code {
    font-family: "Sans Mono", "Consolas", "Courier", monospace;
    font-weight: 200;
}

.hljs {
    padding: 2em !important;
}

code {
    font: 80% !important;
}
